footer {
    border-top: solid 1px var(--theme-1);
    text-align: center;
}

footer ul {
    display: inline-block;
    padding: 0;
}

footer ul li::marker {
    content: none;
}

footer ul li {
    margin: 0.5rem 0;
}

footer .menus {
    display: inline-block;
    margin-top: 1rem;
}