footer {
    border-top: solid 1px var(--theme-1);
    text-align: left;
    padding-left: 1rem;
}

footer ul {
    display: inline-block;
    padding: 0;
}

footer ul li::marker {
    content: none;
}

footer ul li {
    margin: 0 1rem;
}

footer div {
    display: inline-block;
}

footer h1 {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--text-color);
}