main ul ul li::marker {
    content: initial;
}

main ul ul {
    content: initial;
}

main ul ul li {
    padding-bottom: initial;
    margin-bottom: initial;
    border-bottom: initial;
}

main ul ul li:first-of-type {
    border-top: initial;
    margin-top: initial;
    padding-top: initial;
}

#text-box {
    position: relative;
    margin: 1rem;
}

textarea {
    width: 90%;
    max-width: calc(90% - 3rem);
    resize: none;
}

#text-box button {
    position: absolute;
    right: 0;
    width: 8%;
    min-width: 3rem;
}